<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
    <h3 class="mt-4"><strong>ユーザー通報一覧</strong></h3><br>
      <table class="table">
        <thead>
          <tr>
            <th>通報ID</th>
            <th>会員名</th>
            <th>通報者</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td>
                <%= link_to report.id, admin_report_path(report) %>
              </td>
              <td>
                <%= report.reported.name %>
              </td>
              <td>
                <%= report.reporter.name %>
              </td>
              <td>
                <%= report.status %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>