<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>

      <h3 class="mt-4"><strong>タグ一覧</strong></h3><br>
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <% @tags.each do |tag|%>
            <tr>
              <td>
                 <%= tag.name%>
              </td>
              <td>
                <%= link_to "削除", admin_tag_path(tag), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
     </table>
    </div>
  </div>
</div>