/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .image_investor {
   img{
    width: 50vw;
    height: 500px;
   }
 }

.color {
  background-color: #444444;
}



.main-visual {
 width: 100%;
 height: 400px;
 background-image: url(wance-paleri--5VN1iu3Cdk-unsplash);
 background-size: cover;
 background-position: top;
}

.user {
 img {
   border-radius: 50%;
   width: 4vw;
 }
}

.container-index_show {
 // background-color: #e0ffff;
}

.comment-image {
 img {
   border-radius: 50%;
   width: 4vw;
 }
}

.user-profile-image {
 img {
  width: 100px;
  height: 100px;
  line-height: 50px;
  border-radius: 50%;
 }
}

footer{
    position: fixed;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    width: 100%;
}

.iine-profile-image {
 img {
  border-radius: 50%;
  width: 4vw;
 }
}

.pagination{
    margin: 20px auto 0;
    width: 50%;
    display: flex;
    justify-content: center;
    // color : #adb5bd;
//     span{
//         text-align: center;
//         width: 50px;
//         :hover{
//             background-color:#f3f3f3;
//         }
//         a{
//             display: block;
//             width: 100%;
//             height: 100%;
//             :hover{
//                 background-color: #f3f3f3;
//               }
//         }
//     }
// }

// .current{
//     color: #008CFF;
// }

// .gap{
//     background-color: white !important;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.post-size {
 width: 700px;
 height: 300px;
}