<div class="container">
  <div class="row mt-3 mb-3">
    <h1><strong>いいね一覧</strong></h1>
  </div>

<div class="row">
      <% @favorite_posts.each do |post|%> </br>
        <div class="col-4">
          <div class="card">
            <%= link_to public_post_path(post), class:"card-body"  do %>
              <%= image_tag post.get_image(250,250), class:"card-img-top" %>
            <%end %>
            <%= post.title %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center  mt-5 ">
        <p><%#= paginate @favorites %></p>
      </div>
        </div><br>
    </div>
  </div>
</div><br><br><br><br><br><br>

